---
- hosts: localhost
  vars_files:
    - ../vars/vars.yml
    - ../vars/cert_vars.yml
  roles:
    - role: certs_sync
    - role: certs

- hosts: localhost
  vars_files:
    - ../vars/vars.yml
    - ../vars/cert_vars.yml
  roles:
    - role: certs_sync
