---
- name: Common installs and configs across all Windows servers
  hosts: windows_servers
  strategy: free
  gather_facts: no
  vars_files:
    - ../vars/vars.yml

  tasks:
    - name: configure choco mirror
      include_tasks: ../library/configure-choco-mirror.yml
      when: support_vars.choco_mirror_url is defined

    - name: Install dev packages and tooling via choco
      win_chocolatey:
        name:
          - git
          - python
          - vscode
          - notepadplusplus
        state: present
        ignore_checksums: yes
