---
- name: "Configure Linux Domain for Scenario B.3"
  hosts: b3:&victim:&linux # all hosts in the group b3, that are also in the groups victim and linux
  become: yes
  gather_facts: no
  vars_files:
    - ../vars/vars.yml
  tags:
    - joindomain
    - scenariob3
    - linux

  tasks:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/../library/configure-and-join-domain-linux.yml"
      vars:
        linux_hostname: "{{ hostvars[inventory_hostname].hostname }}"
        domain_dns_name: "{{ domain_info_vale.dns_domain_name }}"
        domain_admin_user: "{{ domain_info_vale.admin_user }}"
        domain_admin_pass: "{{ domain_info_vale.admin_pass }}"
        ad_ip_addr: "{{ domain_info_vale.ad_ip_addr }}"
        tuned_profile: "virtual-guest"
