---
- name: "Configure Windows Domain for Scenario A"
  hosts: onprem:cloud:&windows:!on-prem-addc-srv1:!red
  become: yes
  strategy: free
  gather_facts: no
  vars:
    deploy_dir: "C:\\deploy"
  vars_files:
    - ../vars/vars.yml
  tags:
    - joindomain
    - scenarioa

  tasks:
    - ansible.builtin.include_tasks: "{{ playbook_dir }}/../library/configure-and-join-domain-win-all.yml"
      vars:
        domain_shortname: "{{ domain_info_kingslanding.shortname }}"
        domain_dns_name: "{{ domain_info_kingslanding.dns_domain_name }}"
        domain_admin_user: "{{ domain_info_kingslanding.admin_user }}"
        domain_admin_pass: "{{ domain_info_kingslanding.admin_pass }}"
        ad_ip_addr: "{{ domain_info_kingslanding.ad_ip_addr }}"
