---
######################
# for any hosts that have the host variable run_once_commands defined, run that command once on that host
- name: "Add persistent file share on any required hosts"
  hosts: windows:&victim
  gather_facts: yes

  vars_files:
    - ../vars/vars.yml
  tags:
    - localmount
  tasks:
    - name: add persistent drive mount
      ansible.windows.win_shell: |
        New-PSDrive -Name "{{ item.drive_mount }}" -PSProvider FileSystem -Root "\\{{ item.file_server }}\{{ item.file_share }}" -Persist -Scope Global
      loop: "{{ mount_drive }}"
      when: mount_drive is defined
      vars:
        ansible_become: true
        ansible_become_method: runas
        ansible_become_user: "{{ domain_info.shortname }}\\{{ domain_info.exchange_admin_user }}"
        ansible_become_pass: "{{ domain_info.exchange_admin_pass }}"
