---
- name: check
  hosts: localhost
  become: no
  vars_files:
    - ../vars/vars.yml

  tasks:
    - name: "read token value from dest {{ gitlab_config.gitlab_tokens_file_local }}"
      ansible.builtin.slurp:
        src: "{{ gitlab_config.gitlab_tokens_file_local }}"
      register: token_value
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Debug token file content
      ansible.builtin.debug:
        msg: "{{ token_value.content | b64decode }}"
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Parse gitlab tokens file
      ansible.builtin.set_fact:
        user_tokens: "{{ token_value.content | b64decode | from_yaml }}"
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Debug parsed user tokens structure
      ansible.builtin.debug:
        var: user_tokens
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Change AWS Accounts to Cloud Management Account as part of Chain
      ansible.builtin.shell: >
        aws sts assume-role \
        --role-arn "{{ cloud_mgmt_arn }}" \
        --role-session-name cross-cloud-mgmt \
        --query 'Credentials' \
        --output json
      register: cross_account_creds
      vars:
        cloud_mgmt_arn: "{{ hostvars[groups['linux_cloud'][0]]['cloud_management_arn'] }}"
      changed_when: false
      failed_when: cross_account_creds.rc != 0
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Parse credentials from CrossAccountAccess assume-role
      ansible.builtin.set_fact:
        aws_cross_creds:
          AWS_ACCESS_KEY_ID: "{{ cross_account_creds.stdout | from_json | json_query('AccessKeyId') }}"
          AWS_SECRET_ACCESS_KEY: "{{ cross_account_creds.stdout | from_json | json_query('SecretAccessKey') }}"
          AWS_SESSION_TOKEN: "{{ cross_account_creds.stdout | from_json | json_query('SessionToken') }}"
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Assume cloud-detections role using CrossAccountAccess credentials
      ansible.builtin.shell: >
        AWS_ACCESS_KEY_ID={{ aws_cross_creds.AWS_ACCESS_KEY_ID }} \
        AWS_SECRET_ACCESS_KEY={{ aws_cross_creds.AWS_SECRET_ACCESS_KEY }} \
        AWS_SESSION_TOKEN={{ aws_cross_creds.AWS_SESSION_TOKEN }} \
        aws sts assume-role \
          --role-arn "{{ hostvars[groups['linux_cloud'][0]]['detections_acct_arn'] }}" \
          --role-session-name cloud-detections \
          --query 'Credentials' \
          --output json
      register: detections_creds
      changed_when: false
      failed_when: detections_creds.rc != 0
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Parse credentials for cloud-detections role
      ansible.builtin.set_fact:
        aws_detections_creds:
          AWS_ACCESS_KEY_ID: "{{ detections_creds.stdout | from_json | json_query('AccessKeyId') }}"
          AWS_SECRET_ACCESS_KEY: "{{ detections_creds.stdout | from_json | json_query('SecretAccessKey') }}"
          AWS_SESSION_TOKEN: "{{ detections_creds.stdout | from_json | json_query('SessionToken') }}"
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    - name: Use assumed role credentials to get new identity
      ansible.builtin.shell: >
        AWS_ACCESS_KEY_ID={{ aws_detections_creds.AWS_ACCESS_KEY_ID }} \
        AWS_SECRET_ACCESS_KEY={{ aws_detections_creds.AWS_SECRET_ACCESS_KEY }} \
        AWS_SESSION_TOKEN={{ aws_detections_creds.AWS_SESSION_TOKEN }} \
        aws sts get-caller-identity --output json
      register: validated_identity
      changed_when: false
      delegate_to: localhost
      become: no
      tags:
        - red_staging
        - aws

    # have to use cli because ansible module does not handle assumed role when a profile
    # was previously used
    - name: upload atargaryen api token to aws secrets manager
      ansible.builtin.shell: |
        unset AWS_PROFILE
        AWS_REGION={{ aws_resources.aws_deployed_region }} \
        AWS_ACCESS_KEY_ID={{ aws_detections_creds.AWS_ACCESS_KEY_ID }} \
        AWS_SECRET_ACCESS_KEY={{ aws_detections_creds.AWS_SECRET_ACCESS_KEY }} \
        AWS_SESSION_TOKEN={{ aws_detections_creds.AWS_SESSION_TOKEN }} \
        aws secretsmanager put-secret-value \
          --secret-id "{{ hostvars['red-kali1'].gitlab_pat_secret_name }}" \
          --secret-string "glpat-{{ user_tokens['atargaryen-api'] }}" || \
        AWS_REGION={{ aws_resources.aws_deployed_region }} \
        AWS_ACCESS_KEY_ID={{ aws_detections_creds.AWS_ACCESS_KEY_ID }} \
        AWS_SECRET_ACCESS_KEY={{ aws_detections_creds.AWS_SECRET_ACCESS_KEY }} \
        AWS_SESSION_TOKEN={{ aws_detections_creds.AWS_SESSION_TOKEN }} \
        aws secretsmanager create-secret \
          --name "{{ hostvars['red-kali1'].gitlab_pat_secret_name }}" \
          --secret-string "glpat-{{ user_tokens['atargaryen-api'] }}"
      environment:
        AWS_SHARED_CREDENTIALS_FILE: ""
        AWS_CONFIG_FILE: ""
        AWS_SDK_LOAD_CONFIG: "0"
      become: no
      delegate_to: localhost
      tags:
        - red_staging
        - aws
        - gitlab_automation
