---
# Manual CRL regeneration task

- name: Update CRL number in config
  ansible.builtin.template:
    src: crl-config.json.j2
    dest: "{{ certs_folder }}/config/crl-config.json"
    mode: '0644'
  when: crl_enabled | bool

- name: Regenerate CRL manually
  # language=Shell
  ansible.builtin.shell: |
    cfssl gencrl \
      -ca {{ certs_folder }}/ca/{{ ca_cert_name }}.pem \
      -ca-key {{ certs_folder }}/ca/{{ ca_cert_name }}-key.pem \
      -config {{ certs_folder }}/config/crl-config.json \
      {{ certs_folder }}/config/crl-config.json | \
      base64 -d > {{ crl_dir }}/{{ crl_filename }}
  when: crl_enabled | bool
